  <div class="blob-wrapper data type-markdown js-blob-data">


    <div class="readme context-loader-container context-loader-overlay">
      <article class="markdown-body js-file "
        data-task-list-update-url="https://gist.github.com/go1dfish/3559c71d2a3dbe2b9d48/file/gistfile1.md">
        <p><a href="http://blogoscoped.com/archive/2007-05-07-n78.html" rel="noreferrer">http://blogoscoped.com/archive/2007-05-07-n78.html</a></p>

<blockquote>
<p>If you talk to any woman in the tech community, it won’t be long before they start telling you stories about disgusting, sexist things guys have said to them. It freaks them out; and rightly so. As a result, the only women you see in tech are those who are willing to put up with all the abuse.</p>

<p>The denial about this in the tech community is so great that sometimes I despair of it ever getting fixed. And I should be clear, it’s not that there are just some bad people out there who are being prejudiced and offensive. Many of these people that I’m thinking of are some of my best friends in the community. It’s an institutional problem, not a personal one.</p>

<p>Many people don’t have the social skills to notice how offensive they’re being. But even the people who are quite social and competent misbehave and, furthermore, they support a culture where this misbehavior is acceptable. I don’t exclude myself from this criticism.  If you look at the top levels of any industry, you find just incredible levels of misogyny.</p>

<p>For one example we have good data on, the FBI taped the executives of a major US agribusiness company, ADM. And so we have, on tape, <a href="http://web.archive.org/web/20050209050454/www.thislife.org/pages/trax/text/adm2.html" rel="noreferrer">some of the incredibly offensive things these guys said.</a> There’s no reason to believe other firms are any different.</p>

<p>It’s always easier for people to blame the victim. But the fact is, we have evidence of discrimination and we have no evidence of differing aptitudes for nerdiness. Indeed, psychologists like Carol Dweck have done experiments that have found that girls’ scores in things like math can easily be raised by teaching teachers to be less discriminatory.</p>

<p>I have less data on the racism, but I’ve certainly heard prominent tech people make racist comments and the paucity of different races at tech conferences is striking.</p>

<p>[but] I think all censorship should be deplored. My position is that bits are not a bug – that we should create communications technologies that allow people to send whatever they like to each other. And when people put their thumbs on the scale and try to say what can and can’t be sent, we should fight back – both politically through protest and technologically through software like Tor. (Tor is a program that allows for completely anonymous Internet use, by routing your traffic through dozens of other machines.)
How is compromising supposed to bring greater freedom in the long run? That’s like saying “I’m going to beat you up now so that you don’t have to be hit as much in the long run.” The right answer is to stop beating people up.</p>

<p>Computers at my high school were censored for a while; I wrote a program to get around the censorship.</p>
</blockquote>

<p>On reddit:</p>

<blockquote>
<p>Steve and Alexis originally <a href="https://www.youtube.com/watch?v=5rZ8f3Bx6Po" rel="noreferrer">proposed with another idea</a> (a cell phone-based fast food ordering system). That idea wasn't accepted (I think it was generally agreed that it was impractical to do in the YC model), so they ended up doing Reddit, an idea batted around between me and Paul and Steve and Alexis and probably some others. Steve and Alexis eventually started working on it while I declined to work on it in favor of Infogami, which I thought was more interesting. Then my co-founder left, I couldn't find an apartment, and my funding deals fell apart months into the negotiations.</p>

<p>We legally merged the two companies (originally named oubliable and redbrick) into a new one, <strong><a href="https://www.reddit.com/r/reddit.com/comments/1octb/reddit_cofounder_aaron_swartz_discusses_how_he/c1oeya" rel="noreferrer">not a bug</a></strong>. And the original idea was that we would work on Reddit and Infogami together. For a variety of reasons, this didn't work out as we planned, although the existing Reddit is indeed built on top of some Infogami code.</p>

<p>One of the points of the merger was that we would all call ourselves co-founders, so that's what I've been doing. I'd be happy to stop if that's what Steve and Alexis wanted, though.</p>

<p>Yes, there is a piece of the story you're not getting, but out of loyalty to Steve and Alexis (who I still think are great guys, although I gather they probably hate me) I'm not going to be the first to tell it.</p>
</blockquote>

<p><a href="http://www.aaronsw.com/weblog/officespace" rel="noreferrer">http://www.aaronsw.com/weblog/officespace</a></p>

<div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-06T13:34:20.213Z"><a href="https://www.reddit.com/r/todayilearned/comments/d2njs/til_there_was_a_third_cofounder_of_reddit_who_was/c0x40yz">Comment</a> from discussion <a href="https://www.reddit.com/r/todayilearned/comments/d2njs/til_there_was_a_third_cofounder_of_reddit_who_was/">TIL: There was a third &quot;Co-founder&quot; of reddit, who was fired after the Conde Nast acquisition, and not even listed in the FAQ under &quot;Reddit Alums.&quot; </a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>


<p>Sounds to me like he saw what was coming and didn't want any part of it.</p>

<p>The really sad thing to me, is that as a technical platform reddit has gone on to greatness.  They abandoned the idea of infogami but the API has become so powerful that they inadvertently ended up rebuilding a similar concept.</p>

<p>It takes a little skill, but you can absolutely build and host a powerful interactive site with nothing more than reddit's API and github:</p>

<p><a href="http://fair-share.github.io/#/r/BasicIncome/wiki" rel="noreferrer">http://fair-share.github.io/#/r/BasicIncome/wiki</a></p>

<p>But the new guard has <a href="http://www.vice.com/read/the-cryptocurrency-based-schemes-that-would-pay-everyone-just-for-being-alive-456" rel="noreferrer">crippled my work</a> on a /r/CryptoUBI because I chose to speak out against the Scarlet Letter Administration of Pao.</p>

<p>Everyone talks about Victoria.  She <em>was</em> one of the most loved admins there was.  Even the tinfoil-hat wearing para-paranoid mods of /r/conspiracy trusted her (they convinced <em>me</em> she was on the up and up).</p>

<p>But we've lost <a href="http://www.reddit.com/r/Blackout2015/comments/3c6tu0/of_the_38_admins_who_have_left_reddit_since_2005/" rel="noreferrer">so many good admins</a> lately that it's easy to forget the less well known ones.  </p>

<p><a href="https://www.reddit.com/user/kemitche" rel="noreferrer">kemitche</a> was one of the best dev administrators reddit has ever seen.  <a href="https://www.reddit.com/r/redditdev/comments/37e2mv/change_in_team_and_timelines/" rel="noreferrer">He left in May</a>, shortly after the announcement of Pao's safe-space intentions in what seemed like an unexpected change for reddit.
He was the client <a href="https://archive.is/7J0ah" rel="noreferrer">developer's Victoria</a>; and there just aren't many good admins left.  Even I am stunned at just how high reddit is clearing this shark.</p>

<p>RIP <a href="https://www.reddit.com/user/AaronSw/comments/?sort=top" rel="noreferrer">AaronSw</a>  the <a href="http://www.reddit.com/comments/1octb/reddit_cofounder_aaron_swartz_discusses_how_he/c1oefv" rel="noreferrer">indian givers of reddit inc./ycombinator</a> may have <a href="https://www.reddit.com/r/blog/comments/3auk69/happy_10th_birthday_to_us_celebrating_the_best_of/csg7g1t" rel="noreferrer">forgotten you</a>; but not <a href="https://www.reddit.com/r/FairShare/comments/3b1kd7/im_planning_to_develop_a_generic_inbrowser_p2p/" rel="noreferrer">this guy.</a></p>

<p><a href="http://www.politico.com/magazine/story/2013/12/aaron-swartz-obituary-101418.html" rel="noreferrer">http://www.politico.com/magazine/story/2013/12/aaron-swartz-obituary-101418.html</a></p>

      </article>
    </div>



  </div>
