<p>The only acceptable transition starts with ejecting:
          <a href="https://reddit.com/user/ekjp" target="_new">/u/ekjp</a>
          <a href="https://reddit.com/user/kn0thing" target="_new">/u/kn0thing</a>
          <a href="https://reddit.com/user/LordVinyl" target="_new">and /u/LordVinyl</a></p>
<iframe src="http://www.npr.org/player/embed/420296522/420338771" width="100%" height="190" frameborder="0" scrolling="no"></iframe>

<div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-06T03:11:52.311Z"><a href="https://www.reddit.com/r/blog/comments/1c5ehd/oh_one_more_thing/c9d6jma">Comment</a> from discussion <a href="https://www.reddit.com/r/blog/comments/1c5ehd/oh_one_more_thing/">Oh, one more thing...</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>

<blockquote>
  <p>...in <a href="https://www.reddit.com/r/IAmA/comments/3c0idl/i_am_dacvak_former_reddit_employee_and_leukemia/" target="_new">February of 2015</a>, I received a call from Ellen stating that I was to be terminated in less than a week.</p>
  <footer><a href="https://www.reddit.com/r/IAmA/comments/3c0idl/i_am_dacvak_former_reddit_employee_and_leukemia/" target="_new">I am Dacvak, former reddit employee and leukemia fighter.</a></footer>
</blockquote>

<div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-05T23:55:01.096Z"><a href="https://www.reddit.com/r/undelete/comments/3c6a9a/ellen_pao_is_a_distraction_preventing_corporate/cst6n5w">Comment</a> from discussion <a href="https://www.reddit.com/r/undelete/comments/3c6a9a/ellen_pao_is_a_distraction_preventing_corporate/">Ellen Pao is a Distraction. Preventing Corporate Payola and Censorship in the Big Subreddits Should be the Real Community Goal.</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
<div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-05T23:01:20.681Z"><a href="https://www.reddit.com/r/OutOfTheLoop/comments/2vg60v/srsantisrs_secret_cabals_and_meta_reddit_cancer/cohcirs">Comment</a> from discussion <a href="https://www.reddit.com/r/OutOfTheLoop/comments/2vg60v/srsantisrs_secret_cabals_and_meta_reddit_cancer/">SRS/Anti-SRS, Secret Cabals, and Meta Reddit Cancer Recap.</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
<div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-05T22:54:26.065Z"><a href="https://www.reddit.com/r/AskReddit/comments/2v39v2/what_popular_subreddit_has_a_really_toxic/coe8704">Comment</a> from discussion <a href="https://www.reddit.com/r/AskReddit/comments/2v39v2/what_popular_subreddit_has_a_really_toxic/">What popular subreddit has a really toxic community?</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
<hr>
<div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="true" data-embed-live="true" data-embed-created="2015-07-05T21:37:47.030Z"><a href="https://www.reddit.com/r/Upvoted/comments/3b8ij4/ten_years_of_reddit_video/cssk2kh">Comment</a> from discussion <a href="https://www.reddit.com/r/Upvoted/comments/3b8ij4/ten_years_of_reddit_video/">Ten years of reddit [Video]</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
