<div class='homepage'>
  <div class='jumbotron'>
    <h1>Welcome to The Safe</h1>
    <h2>Under Deconstruction, <a href="https://www.change.org/p/ellen-k-pao-step-down-as-ceo-of-reddit-inc" target="_new">coming soon!</a></h2>
    <p>The only acceptable transition starts with ejecting:
            <a href="https://reddit.com/user/ekjp" target="_new">/u/ekjp</a>
            <a href="https://reddit.com/user/kn0thing" target="_new">/u/kn0thing</a>
            <a href="https://reddit.com/user/LordVinyl" target="_new">and /u/LordVinyl</a></p>
    <div class='row'>
      <div class='col-md-6'>
        <iframe class='live-thread' src="//www.redditmedia.com/live/v6jqkuf604hw/embed?stylesr=EllenPaoInAction"></iframe>
        <a class="twitter-timeline" href="https://twitter.com/hashtag/redditrevolt" data-widget-id="617823525743689728">#redditrevolt Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      </div><div class='col-md-6'>
        <iframe class='live-thread' src="//www.redditmedia.com/live/v6d0vi6c8veb/embed?stylesr=EllenPaoInAction"></iframe>
        <a class="twitter-timeline" href="https://twitter.com/search?q=%40go1dfish" data-widget-id="618045854046289920">Tweets about @go1dfish</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      </div>
    </div>
    <h1>RedditV4 is not <a href="https://www.youtube.com/watch?v=X4yGMdZb_OI" target="_new">the answer</a></h1>
    <p>Those who do not learn from <a href="http://knowyourmeme.com/memes/09-f9-11-02-9d-74-e3-5b-d8-41-56-c5-63-56-88-c0" target="_new">the past</a> are doomed to repeat it</p>
    <div class='pull-right'>
        {{ember-youtube
          ytid="Mx3tSIhVzyg"
          autoplay=false
          volume=100
        }}
        <a href="http://www.reddit.com/about/team#sort/new/user/LordVinyl" target='_new'>Meet reddit's newest admin /u/LordVinyl-mont aka he who shall not be named</a>
    </div>
    <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/danhuard">@danhuard</a> Now would be a good time: <a href="https://t.co/pukHSTmyal">https://t.co/pukHSTmyal</a> Good luck. <a href="http://t.co/cinzRGJ4F7">http://t.co/cinzRGJ4F7</a></p>&mdash; Alex Goodwin (@go1dfish) <a href="https://twitter.com/go1dfish/status/617815591802437632">July 5, 2015</a></blockquote>
    <hr>
    <blockquote>
      <p>...in <a href="https://www.reddit.com/r/IAmA/comments/3c0idl/i_am_dacvak_former_reddit_employee_and_leukemia/" target="_new">February of 2015</a>, I received a call from Ellen stating that I was to be terminated in less than a week.</p>
      <footer><a href="https://www.reddit.com/r/IAmA/comments/3c0idl/i_am_dacvak_former_reddit_employee_and_leukemia/" target="_new">I am Dacvak, former reddit employee and leukemia fighter.</a></footer>
    </blockquote>
    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-05T23:01:20.681Z"><a href="https://www.reddit.com/r/OutOfTheLoop/comments/2vg60v/srsantisrs_secret_cabals_and_meta_reddit_cancer/cohcirs">Comment</a> from discussion <a href="https://www.reddit.com/r/OutOfTheLoop/comments/2vg60v/srsantisrs_secret_cabals_and_meta_reddit_cancer/">SRS/Anti-SRS, Secret Cabals, and Meta Reddit Cancer Recap.</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
  </div>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
