<div class='homepage'>
  <div class='jumbotron'>
    <h1>Welcome to The Safe</h1>
    <h2>Under Deconstruction, <a href="https://www.change.org/p/ellen-k-pao-step-down-as-ceo-of-reddit-inc" target="_new">coming soon!</a></h2>
    <blockquote>
      <p>For the master's tools will never dismantle the master's house.  They may allow us to temporarily beat him at his own game, but they will never enable us to bring about genuine change.</p>
      <footer><a href="https://en.wikipedia.org/wiki/Audre_Lorde" target='_new'>Audre Lorde</a></footer>
    </blockquote>
    <hr class='clearfix'/>
    <blockquote>
      <p>Less than a month later, in <a href="https://www.reddit.com/r/IAmA/comments/3c0idl/i_am_dacvak_former_reddit_employee_and_leukemia/" target="_new">February of 2015</a>, I received a call from Ellen stating that I was to be terminated in less than a week.</p>
      <footer><a href="https://www.reddit.com/r/IAmA/comments/3c0idl/i_am_dacvak_former_reddit_employee_and_leukemia/" target="_new">I am Dacvak, former reddit employee and leukemia fighter.</a></footer>
    </blockquote>

    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="true" data-embed-live="true" data-embed-created="2015-07-05T23:05:41.020Z"><a href="https://www.reddit.com/r/Blackout2015/comments/3c4x6h/leaked_conversation_from_kn0thing_and_the/cssjaox">Comment</a> from discussion <a href="https://www.reddit.com/r/Blackout2015/comments/3c4x6h/leaked_conversation_from_kn0thing_and_the/">Leaked conversation from kn0thing and the /r/science mods</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>    <h3>What else happened on reddit in February 2015? /r/metaredditcancer</h3>
    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-05T23:01:20.681Z"><a href="https://www.reddit.com/r/OutOfTheLoop/comments/2vg60v/srsantisrs_secret_cabals_and_meta_reddit_cancer/cohcirs">Comment</a> from discussion <a href="https://www.reddit.com/r/OutOfTheLoop/comments/2vg60v/srsantisrs_secret_cabals_and_meta_reddit_cancer/">SRS/Anti-SRS, Secret Cabals, and Meta Reddit Cancer Recap.</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-05T22:54:26.065Z"><a href="https://www.reddit.com/r/AskReddit/comments/2v39v2/what_popular_subreddit_has_a_really_toxic/coe8704">Comment</a> from discussion <a href="https://www.reddit.com/r/AskReddit/comments/2v39v2/what_popular_subreddit_has_a_really_toxic/">What popular subreddit has a really toxic community?</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>

    <div class='pull-right'>
        {{ember-youtube
          ytid="Mx3tSIhVzyg"
          autoplay=false
          volume=100
        }}
        <a href="http://www.reddit.com/about/team#sort/new/user/LordVinyl" target='_new'>Meet reddit's newest admin /u/LordVinyl</a>
    </div>
    <blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/danhuard">@danhuard</a> Now would be a good time: <a href="https://t.co/pukHSTmyal">https://t.co/pukHSTmyal</a> Good luck. <a href="http://t.co/cinzRGJ4F7">http://t.co/cinzRGJ4F7</a></p>&mdash; Alex Goodwin (@go1dfish) <a href="https://twitter.com/go1dfish/status/617815591802437632">July 5, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class='row'>
      <div class='col-md-6'>
        <iframe class='live-thread' src="//www.redditmedia.com/live/v6jqkuf604hw/embed?stylesr=EllenPaoInAction"></iframe>
        <a class="twitter-timeline" href="https://twitter.com/hashtag/redditrevolt" data-widget-id="617823525743689728">#redditrevolt Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      </div><div class='col-md-6'>
        <iframe class='live-thread' src="//www.redditmedia.com/live/v6d0vi6c8veb/embed?stylesr=EllenPaoInAction"></iframe>
        <a class="twitter-timeline" href="https://twitter.com/hashtag/paomustgo" data-widget-id="617822470058328064">#paomustgo Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      </div>
    </div>
    <hr/>
    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="true" data-embed-live="true" data-embed-created="2015-07-05T21:37:47.030Z"><a href="https://www.reddit.com/r/Upvoted/comments/3b8ij4/ten_years_of_reddit_video/cssk2kh">Comment</a> from discussion <a href="https://www.reddit.com/r/Upvoted/comments/3b8ij4/ten_years_of_reddit_video/">Ten years of reddit [Video]</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
    <blockquote>
      <p>If you are free, you need to free somebody else. If you have some power, then your job is to empower somebody else.</p>
      <footer><a href="https://en.wikipedia.org/wiki/Toni_Morrison" target='_new'>Toni Morrison</a></footer>
    </blockquote>
    <blockquote>
      <p>Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it’s the only thing that ever has.</p>
      <footer><a href="https://en.wikipedia.org/wiki/Margaret_Mead" target='_new'>Margaret Mead</a></footer>
    </blockquote>
    <blockquote>
      <p>None are so hopelessly enslaved as those who falsely believe they are free.  The truth has been kept from the depth of their minds by masters who rule them with lies.  They feed them on falsehoods till wrong looks like right in their eyes.</p>
      <footer><a href="https://en.wikipedia.org/wiki/Johann_Wolfgang_von_Goethe" target='_new'>Johann Wolfgang von Goethe</a></footer>
    </blockquote>
    <blockquote>
      <p>Anytime you beg another man to set you free you will never be free.  Freedom is something you have to do for yourselves... The price of freedom is death.</p>
      <footer><a href="https://www.youtube.com/watch?v=f2S3ShBexMs" target='_new'>Malcom X</a></footer>
    </blockquote>
    <blockquote>
      <p>Do you see what I see? Truth is an offence Your silence for your confidence</p>
      <p>Do you hear what I hear? Doors are slamming shut. Limit your imagination, keep you where they must</p>
      <p>Do you feel what I feel? Bittering distress Who decides what you express?</p>
      <p>Do you take what I take? Endurance is the word Moving back instead of forward seems to me absurd</p>
      <p>Doesn’t matter what you see Or into it what you read You can do it your own way If it’s done just how I say</p>
      <footer><a href="https://en.wikipedia.org/wiki/Eye_of_the_Beholder_(song)" target='_new'>Metallica</a></footer>
    </blockquote>
    <blockquote>
      <p>Careful what you wish</p>
      <p>Careful what you say</p>
      <p>Careful what you wish, you may regret it</p>
      <p>Careful what you wish, you just might get it</p>
      <p>Then it all crashes down</p>
      <p>And you break your crown</p>
      <p>And you point your finger</p>
      <p>But there’s no one around</p>
      <p>Just want one thing</p>
      <p>Just to play the king</p>
      <p>But the castle’s crumbled</p>
      <p>And you’re left with just a name</p>
      <p>Where’s your crown, King Nothing?</p>
      <footer><a href="https://www.reddit.com/r/subredditcancer/comments/3b1szx/kn0thing_is_a_play_on_king_nothing_a_metallica/csij1av" target='_new'>Metallica</a></footer>
    </blockquote>
    <blockquote>
      <p>
        That ideas should freely spread from one to another over the globe,
        for the moral and mutual instruction of man, and improvement of his condition,
        seems to have been peculiarly and benevolently designed by nature, when she made them,
        like fire, expansible over all space, without lessening their density in any point,
        and like the air in which we breathe, move, and have our physical being,
        incapable of confinement or exclusive appropriation.
      </p>
      <footer><a href="https://www.reddit.com/r/freespeechheroes" target='_new'>Thomas Jefferson</a></footer>
    </blockquote>
  </div>

</div>
