<div class='homepage'>
  <div class='jumbotron'>
    {{ember-youtube
      ytid="ngmhjiR3QOo"
      class="pull-right"
      autoplay=false
      volume=100
    }}
    <h1>Welcome to The Safe</h1>
    <h2>Under Deconstruction, coming soon!</h2>
    <hr/>

    <blockquote>
      <p>If you are free, you need to free somebody else. If you have some power, then your job is to empower somebody else.</p>
      <footer><a href="https://en.wikipedia.org/wiki/Toni_Morrison" target='_new'>Toni Morrison</a></footer>
    </blockquote>

    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-05T21:30:42.551Z"><a href="https://www.reddit.com/r/Blackout2015/comments/3c4x6h/leaked_conversation_from_kn0thing_and_the/cssjaox">Comment</a> from discussion <a href="https://www.reddit.com/r/Blackout2015/comments/3c4x6h/leaked_conversation_from_kn0thing_and_the/">Leaked conversation from kn0thing and the /r/science mods</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="true" data-embed-live="true" data-embed-created="2015-07-05T21:37:47.030Z"><a href="https://www.reddit.com/r/Upvoted/comments/3b8ij4/ten_years_of_reddit_video/cssk2kh">Comment</a> from discussion <a href="https://www.reddit.com/r/Upvoted/comments/3b8ij4/ten_years_of_reddit_video/">Ten years of reddit [Video]</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
    <hr/>
    <blockquote>
      <p>Never doubt that a small group of thoughtful, committed citizens can change the world; indeed, it’s the only thing that ever has.</p>
      <footer><a href="https://en.wikipedia.org/wiki/Margaret_Mead" target='_new'>Margaret Mead</a></footer>
    </blockquote>
    <blockquote>
      <p>None are so hopelessly enslaved as those who falsely believe they are free.  The truth has been kept from the depth of their minds by masters who rule them with lies.  They feed them on falsehoods till wrong looks like right in their eyes.</p>
      <footer><a href="https://en.wikipedia.org/wiki/Johann_Wolfgang_von_Goethe" target='_new'>Johann Wolfgang von Goethe</a></footer>
    </blockquote>
    <blockquote>
      <p>Anytime you beg another man to set you free you will never be free.  Freedom is something you have to do for yourselves... The price of freedom is death.</p>
      <footer><a href="https://www.youtube.com/watch?v=f2S3ShBexMs" target='_new'>Malcom X</a></footer>
    </blockquote>
    <blockquote>
      <p>Do you see what I see? Truth is an offence Your silence for your confidence</p>
      <p>Do you hear what I hear? Doors are slamming shut. Limit your imagination, keep you where they must</p>
      <p>Do you feel what I feel? Bittering distress Who decides what you express?</p>
      <p>Do you take what I take? Endurance is the word Moving back instead of forward seems to me absurd</p>
      <p>Doesn’t matter what you see Or into it what you read You can do it your own way If it’s done just how I say</p>
      <footer><a href="https://en.wikipedia.org/wiki/Eye_of_the_Beholder_(song)" target='_new'>Metallica</a></footer>
    </blockquote>
    <blockquote>
      <p>Careful what you wish</p>
      <p>Careful what you say</p>
      <p>Careful what you wish, you may regret it</p>
      <p>Careful what you wish, you just might get it</p>
      <p>Then it all crashes down</p>
      <p>And you break your crown</p>
      <p>And you point your finger</p>
      <p>But there’s no one around</p>
      <p>Just want one thing</p>
      <p>Just to play the king</p>
      <p>But the castle’s crumbled</p>
      <p>And you’re left with just a name</p>
      <p>Where’s your crown, King Nothing?</p>
      <footer><a href="https://www.reddit.com/r/subredditcancer/comments/3b1szx/kn0thing_is_a_play_on_king_nothing_a_metallica/csij1av" target='_new'>Metallica</a></footer>
    </blockquote>
  </div>
</div>
