<div class='homepage'>
  <div class='jumbotron'>
    <h2>Under <a href="https://www.change.org/p/ellen-k-pao-step-down-as-ceo-of-reddit-inc" target="_new">Deconstruction</a>,
      coming <a href="https://www.change.org/p/alexis-ohanian-to-step-down-from-reddit-board-and-administration-fire-alexis-ohanian" target="_new">soon</a>!
      What <a href="http://thenextweb.com/insider/2015/07/06/reddit-came-close-to-becoming-decentralized-last-year/" target="_new">could have been...</a>
    </h2>
    <h3><a href="http://www.popularmechanics.com/technology/apps/news/a16320/top-reddit-alternatives/?src=spr_TWITTER&spr_id=1457_204485482" target="_new">9 Reddit Alternatives Trying So Hard</a></h3>
    <div class='row'>
      <div class='col-md-6'>
        <iframe class='live-thread' src="//www.redditmedia.com/live/v6jqkuf604hw/embed?stylesr=EllenPaoInAction"></iframe>
        <a class="twitter-timeline" href="https://twitter.com/hashtag/redditrevolt" data-widget-id="617823525743689728">#redditrevolt Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>      </div><div class='col-md-6'>
        <iframe class='live-thread' src="//www.redditmedia.com/live/v6d0vi6c8veb/embed?stylesr=EllenPaoInAction"></iframe>
        <a class="twitter-timeline" href="https://twitter.com/hashtag/TheDarkening" data-widget-id="618152845477412864">#TheDarkening Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
    <blockquote>
      <p>...in <a href="https://www.reddit.com/r/IAmA/comments/3c0idl/i_am_dacvak_former_reddit_employee_and_leukemia/" target="_new">February of 2015</a>, I received a call from Ellen stating that I was to be terminated in less than a week.</p>
      <footer><a href="https://www.reddit.com/r/IAmA/comments/3c0idl/i_am_dacvak_former_reddit_employee_and_leukemia/" target="_new">I am Dacvak, former reddit employee and leukemia fighter.</a></footer>
    </blockquote>
    <div class="reddit-embed" data-embed-media="www.redditmedia.com" data-embed-parent="false" data-embed-live="true" data-embed-created="2015-07-05T23:01:20.681Z"><a href="https://www.reddit.com/r/OutOfTheLoop/comments/2vg60v/srsantisrs_secret_cabals_and_meta_reddit_cancer/cohcirs">Comment</a> from discussion <a href="https://www.reddit.com/r/OutOfTheLoop/comments/2vg60v/srsantisrs_secret_cabals_and_meta_reddit_cancer/">SRS/Anti-SRS, Secret Cabals, and Meta Reddit Cancer Recap.</a>.</div><script async src="https://www.redditstatic.com/comment-embed.js"></script>
  </div>
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
